.carousel-container {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    height: auto;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-item.active {
    opacity: 1;
    position: relative;
}

.carousel-item img {
    width: 100%;
    display: block;
    height: auto;
    object-fit: contain;
}

.sub-texto {
    color: aliceblue;
    position: absolute;
    z-index: 120;
    top: 100px;
    left: 200px;
    background-color: rgba(240, 248, 255, 0.445);
    backdrop-filter: blur(20%);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s;
}

.sub-texto:hover {
    color: blueviolet;
    background-color: rgba(0, 0, 0, 0.247);
    backdrop-filter: blur(50%);
}

@media only screen and (max-width: 430px) {
    .carousel-inner {
        height: 150px;
    }

    .sub-texto {

        top: 7px;
        left: 5px;
    }
}

@media only screen and (min-width: 700px) {
    .carousel-inner {
        height: auto;
    }

    .Section-2 {
        height: 261px;
    }

}