.Section-2 {
    height: 400px;
    background-color: black;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
}

@media only screen and (max-width: 430px) {
    .Section-2 {
        height: auto;
    }

}