.Section-1 {
    background-image: url(../img/92gwneyssg401.jpg);
    width: 100%;
    background-size: cover;
    height: 450px;
    margin-top: 5px;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.crono {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgba(240, 248, 255, 0.281);
    backdrop-filter: blur(50px);
    padding: 2px;
    width: 500px;
    height: auto;
}

.contador {
    font-size: 10px;
    color: aliceblue;
    font-weight: lighter;
    text-align: center;
    transition: all 0.3s ease-in-out;

}

.line-crono {
    border-bottom: 1px solid white;
    width: 500px;
}

.Conteiner-crono {
    padding-top: 120px;

}

#dia,
#horas,
#minuto,
#segundos {
    border: 1px solid whitesmoke;
    border-radius: 100%;
    height: 90px;
    width: 100px;
    font-size: 20px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contador:hover {
    transform: scale(1.4);
    cursor: pointer;
}
