* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    max-width: 1200px;
}

body {
    background-color: rgb(12, 14, 5);
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: aliceblue;
    padding: 3px;
}

header {
    display: flex;
    background-color: rgba(240, 248, 255, 0.329);
    backdrop-filter: blur(5px);
    padding-top: 10px;
    border-bottom: 1px solid wheat;
    position: absolute;
    width: 100%;
    align-items: center;
    z-index: 100;
}
