.conteiner-sobre {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.div-1 {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    background-color: rgb(255, 215, 240);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.7s ease-in-out;
}

.div-2 {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(243, 160, 160);
    transition: all 0.7s ease-in-out;
    backdrop-filter: blur(10%);
}

.texto-sobre {
    color: black;
    text-align: center;
    padding-bottom: 20px;
}

p {
    padding: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
}

.img-sobre {
    width: 500px;
    border-radius: 10px;
    cursor: pointer;
}

.img-sobre:hover {
    transform: scale(1.2);
    transition: all 0.7s ease-in-out;
}

.img-conteiner {
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.7s ease-in-out;
}
